<div class="top-line">
  <div class="row row-top">
    <div class=" text-left col-sm-12 col-md-8">
       <span class="top-text-left top-question">Have any question?</span>
      <span class="top-text-left"><span class="fa fa-phone txt-fone header-icon"> </span>111-111-111</span>
      <span class="top-text-left"><span class="fa fa-envelope txt-fone header-icon"></span>abc@gmail.com</span>
    </div>
    <div class="text-right d-sm-none d-md-block">
      <!--  <span class="top-text-right fa fa-facebook-official"></span>
        <span class="top-text-right"></span>
        <span class="top-text-right"></span>-->
    </div>
  </div>
</div>
