<div class="row card-footer footer">
  <div class="col-4 footer-firstcol text-center">
    <span class="txt-darkgray"> App 2018</span>
  </div>
  <div class="col-8 footer-Seccol">
    <ul class="nav justify-content-end ">
      <li class="nav-item">
        <a class="nav-link txt-darkgray footer-nav" href="#">HOME</a>
      </li>
      <li class="nav-item footer-divider"></li>
      <li class="nav-item">
        <a class="nav-link txt-darkgray footer-nav" href="#">PRODUCT</a>
      </li>
      <li class="nav-item footer-divider"></li>
      <li class="nav-item">
        <a class="nav-link txt-darkgray footer-nav" href="#">FAQ</a>
      </li>
      <li class="nav-item footer-divider"></li>
      <li class="nav-item">
        <a class="nav-link txt-darkgray footer-nav" href="#">CONTACT US</a>
      </li>
    </ul>
  </div>
</div>
