<div class="MyContainer" [ngClass]="extraClasses">
  <img src="/assets/images/1.jpg" alt="" width="100%" height="590px" *ngIf="isHomePage">
  <div [class.header]="isHomePage" [class.header2]="!isHomePage">
    <div class="nav-bar row">
      <div class="col-2 col-lg-2 col-md-2 col-sm-2">
        <div class="logo"><h2>Logo</h2></div>
      </div>
      <div class="col-6 col-lg-7 col-md-6 col-sm-6">
        <app-nav-bar></app-nav-bar>
      </div>
      <div class="col-4 col-lg-3 col-md-4 col-sm-4 text-center skewOneSide gradiantorange">
        <h4 class="sign my-auto"><a
        class="txt-white" routerLink="/login">SIGN IN</a></h4></div>
    </div>
  </div>
  <ng-content></ng-content>
</div>
