<app-my-container [extraClasses]="'background-login'">
  <div class="">
    <div class="row main-login-div">
      <div class="login-div-left col-lg-6 col-md-6 d-none d-sm-none d-md-block">
        <h1 class="text-center txt-white">LOGO</h1>
        <p class="login-text txt-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
          Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a
          type specimen book. It has survived not only five </p>
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <img class="img-fluid" src="assets/images/8.png" alt="">
          </div>
          <div class="col-lg-6 col-md-6">
            <img class="img-fluid"  src="assets/images/9.png" alt="">
          </div>
        </div>
      </div>
      <div class="login-div-right text-center col-lg-6 col-md-6 col-sm-12">
        <h3 class="text-center txt-fone">LOGIN</h3>
        <div>
          <form (submit)="loginFormSubmit()">
            <div class="form-group input-container">
              <i class="fa fa-envelope icon"></i>
              <input type="text" class="form-control login-form" id="p_phoneNumber" placeholder="Phone Number"
                     [(ngModel)]="userData.p_phoneNumber" name="p_phoneNumber" required>
            </div>
            <div class="form-group input-container">
              <i class="fa fa-key icon"></i>
              <input type="password" class="form-control login-form" id="p_password" placeholder="Password"
                     [(ngModel)]="userData.p_password" name="p_password" required>
            </div>
            <div class="form-group form-check">
              <label class="form-check-label" style="color: #dedede;">
                <input class="form-check-input" type="checkbox" [(ngModel)]="userData.rememberMe" name="rememberMe">
                Remember me
              </label>
            </div>
            <button class="btn btn-primary input-col myBtn gradiantorange" type="submit"> Singin</button>
          </form>
          <div class="forget-password">
            <a class=" txt-gradiantorange" href="">Forget your password?</a>
          </div>
          <div class="row login-social-icons">
            <div class="col-lg-4 col-md-4 col-sm-4">
              <img src="assets/images/27.png" alt="facebook">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <img src="assets/images/25.png" alt="twiter">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <img src="assets/images/26.png" alt="google+">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-my-container>
