@font-face {
    font-family: myFirstFont;
    src: url(../fonts/ARLRDBD.TTF);
}
.row{
    margin: 0px;
    padding: 0px;
}
h1,h2,h3,h4,h5,h6,ul,li,div,span,p,a{
    font-family: "myFirstFont";

}
.gradiantorange{
    background: linear-gradient(rgb(255, 144, 0) 0%, rgb(252, 120, 46) 100%);
}
.fone{
    background:#f9f0af;
}
.row-top{
    padding: 4px;
}
.txt-gradiantorange{
    background-image: linear-gradient(rgb(255, 144, 0) 0%, rgb(252, 120, 46) 100%);
    color: transparent;
    -webkit-background-clip: text;
}
.txt-lightorange{
    color: #fea100 !important;
}
.txt-darkorange{
    color:#f45700 !important;
}
.txt-white{
    color: #fff;
}
.txt-white:hover{
    color: #fff;
}
.darkgray{
    background: #272e34;
}
.txt-darkgray{
    color: #272e34;
}
.txt-lightgray{
    color: #8b9298;
}
.txt-fone{
    color:#f9f0af;
}
.txt-black{
    color: #000;
}
.top-text-left{
    font-weight: 300;
    color: #fea100;
    margin-left: 10px;
    font-size:12px;
}
.top-line{
    background-color: #272e34;
    width: 100%;
    margin: 0px;
    padding: 0% 10% 0 10%;
}
.top-text-right{
    text-align: right;
    font-weight: 300;
    color: white;
    margin-left: 10px;
}
.myVideo {
    width: 100%;
    height: auto;
}
.nav-bar{
    background-color: #f9f0af;
    width: 100%;
    height: 50px;
}
.header{
    padding: 0% 10% 0 10%;
    position: absolute;
    top: 0;
    width: 100%;
}
.header-icon{
    margin: 0px 6px;
    font-size: 20px;
}
.logo{
    height: 100%;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;

}
.navbar-item{
    padding: 0 10% 0 10%;
}
.tabs{
    border-right: 2px solid #fea100;;
    margin: 8px;
}
.sign{
    padding:10px;

}
.mid-contant{
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 8%;
    top: 15%;
}
.mid-cont{
    padding: 35px 10%;
}
.cont-link{
    width: 16%;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    margin: 0px;
    padding: 3px;
    background: #f9f0af;
    border-color:#f45700;
}
.cont-link:hover, .cont-link:active, .cont-link:focus{
    background: #f9f0af !important;
    border-color:#f45700 !important;
    box-shadow: 0 0 0 0.2rem #f45700 !important;
}
.Achiv{
    font-size: 50px;
}

.MyContainer{
    height: auto;
    position: relative;
    padding-bottom: 15px;
}
.count-div{
    padding: 80px 0px 0px 90px;
    background: #f9f0af;
}
.round-outter{
    background: linear-gradient(rgb(255, 211, 134) 8%, rgb(255, 204, 117) 17%, rgb(39, 46, 52) 100%);
    width: 170px;
    height: 170px;
    margin: 0 30px;
}
.babban-gol{
    width: 150px;
    height: 150px;
    background: #f9f0af;
    margin: 10px;
    text-align: center;
    padding: 17px;
}
.babban-gol > h6 {
    margin: 0px;
    padding: 0px;
}
.gol-div2{
    margin-top: 25px;
}
.app-div{
    padding: 0px 70px;
    background: #272e34 ;
}
.app-info{
    padding: 7% 0;
    text-align: center;
}
.App-heading {
    text-align: left;
    padding: 0px 45px;
}
.security-div{
    background: linear-gradient(rgb(255, 144, 0) 0%, rgb(252, 120, 46) 100%);
    padding: 70px;
}
.newletter-div{
    background-image: url('../../../assets/images/11.jpg');
    background-repeat: no-repeat;
    background-position: center;
    padding: 5%;
}
.input-box{
    margin: 0 auto;
    width: 80%;
    padding: 20px 0;
}
.input-col{
    margin: 0 5px;
    border-radius: 10px !important;
}
.myBtn{
    width: 180px;
    box-shadow: 5px 5px 15px black;
    border-color: #ff7500;
}
.myBtn:active, .myBtn:focus{
    background: linear-gradient(rgb(255, 144, 0) 0%, rgb(252, 120, 46) 100%) !important;
    border-color: #f45700 !important;
    box-shadow: 0 0 0 0.2rem #f45700 !important;
}
.myBtn:hover{
    border-color: #000!important;
}
.skewOneSide {
    border-bottom: 50px solid #f45700;
    border-left: 50px solid rgba(0, 0, 0, 0);
    height: 0;
    line-height: 40px;
    width: 100px;
}
.app-icon{
    margin: 50px 40px 0;
}
.pvt-txt{
    padding: 13px 180px 0 47px;
}
.footer{
    background: #f9f0af;
}
.footer > div > span {
    font-size: 11px;
}
.footer-firstcol{
    padding: 6px;
}
.footer-Seccol{
    font-size: 11px;
    padding: 2px 50px 0 0;
}
.footer-Seccol > ul {
    padding-right: 70px;
}
.footer-divider{
    border-right: 2px solid #272e34;;;
    margin: 8px;
}
.footer-nav{
    padding: 8px 0px;
}
.header2{
    padding: 0% 10% 0 10%;
    top: 0;
    width: 100%;
}
.about-pro{
    padding: 0 10%;
}
.about-img{
    padding: 45px 0px 100px;
}
.about-img > img{
    width: 90%;
}
.about-cont{
    padding: 75px 0px 0px 0;
}
.about-cont > p {
    font-size: 11px;
    color: #7a7a7a;
}
.myBtn > i {
    margin: 12px 5px 12px 0px;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background: linear-gradient(rgb(255, 144, 0) 0%, rgb(252, 120, 46) 100%);
}
.info-tabs{
    padding: 15px 0;
    font-size: 20px;
}
.info-tabs:hover{
    background-image: linear-gradient(rgb(255, 144, 0) 0%, rgb(252, 120, 46) 100%);
    color: transparent;
    -webkit-background-clip: text;
}
.icon-teacher{
    width: 55px;
    margin: 0 11px;
}
.icon-parent{
    width: 47px;
    margin: 0 9px;
}
.icon-school{
    width: 31px;
    margin: 0 9px;
}
.img13{
    background-image: url(../../../assets/images/13.png);
    background-repeat: no-repeat;
    background-size: 778px;
}
.teacher-container{
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}
.teacher-1stpannal{
    border-bottom: 434px solid #f45700;
    border-left: 103px solid rgba(0, 0, 0, 0);
    height: 0;
    width: 100px;
    padding-left: 100px
}
.teacher-1stpannal > h1 {
    padding: 60px 0 0 0;
    color: white;
}
.teacher-1stpannal > ul > li {
    font-size: 25px;
    color: white;
}
.img14{
    background-image: url("../../../assets/images/14.png");
    background-repeat: no-repeat;
    background-size: 778px;
    background-position: right;

}
.teacher-2ndpannal{
    border-bottom: 434px solid #272e34;
    border-right: 103px solid rgba(0, 0, 0, 0);
    height: 0;
    width: 100px;
    padding-left: 150px;
}
.teacher-2ndpannal > h1 {
    padding: 60px 0 0 0;
    color: white;
}
.teacher-2ndpannal > ul > li {
    font-size: 25px;
    color: white;
}
.img15{
    background-image: url(../../../assets/images/15.png);
    background-repeat: no-repeat;
    background-size: 778px;
}
.custom-lg-font{
    font-size: 65px;
}
.parent-container{
    background-image: url("../../../assets/images/18.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.parent-1stpanal{
    padding: 50px 90px 65px;
}
.parent-1stpanal > p{
    font-size: 11px;
}
.left-2ndpanal{
    padding: 45px 80px 45px 125px;
}
.left-2ndpanal > p {
    padding: 0 10px;
    font-size: 13px;
}
.right-2ndpanal{
    padding: 45px 130px 50px 65px;
}
.right-2ndpanal > p {
    font-size: 11px;
}
.carousel-background{
    background-image: url("../../../assets/images/20.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.carousel-indicators > li {
    width: 15px;
    height: 14px;
    border-radius: 7px;
    background-color: white;
    margin: 2px 0;
}
.carousel-indicators .active {
    background: linear-gradient(rgb(255, 144, 0) 0%, rgb(252, 120, 46) 100%);
}
.carousel-txt > p {
    font-size: 20px;
    padding: 10px 0 45px;
}
.carousel-txt{
    padding: 15px 250px 0;
}
.background-login{
    background-image: url("../../../assets/images/23.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.main-login-div{
    padding-top: 50px;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 60px;
}
.login-div-left{
    padding: 50px 40px 0;
    background-image: url("../../../assets/images/24.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 330px;
    border-bottom-left-radius: 100px;
}
.login-div-right{
    background: #272e34;
    width: 330px;
    border-top-right-radius: 100px;
}
.login-text{
    font-size: 13px;
    padding: 70px 0;
}
.login-div-left > div > img {
    width: 117px;
    height: 35px;
    margin: 10px 4px 55px;
}
.login-div-right > h3 {
    padding: 131px 0 15px;
}
.login-div-right > div {
    padding: 0 30px 0;
}.login-form::-webkit-input-placeholder{
    text-align: center;
 }
 .login-form{
     border-radius: 0;
     background-color: #272e34;
     border: 1px solid #272e34;
     border-bottom:2px solid #f45700 ;
     color: white;
 }
 .login-form:focus{
     background-color: #272e34;
     border-color: #272e34;
     outline: 0;
     box-shadow: 0 0 0 0.2rem #f45700;
     color: #fff;
 }
 .login-div-right > div > form > button {
     width: 100%;
 }
 .forget-password{
     padding: 14px 0;
     font-size: 13px;
 }
 .login-social-icons > img{
     padding: 0 10px;
     width: 41px;
     height: 32px;
 }
 .login-social-icons{
     padding: 12px 72px 82px;
 }
.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 10px;
    background: #272e34;
    color: white;
    min-width: 50px;
    text-align: center;
}
.vertical .carousel-inner {
    height: 100%;
}

.carousel.vertical .carousel-item {
    -webkit-transition: 0.6s ease-in-out top;
    -moz-transition: 0.6s ease-in-out top;
    -ms-transition: 0.6s ease-in-out top;
    -o-transition: 0.6s ease-in-out top;
    transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
    top: 0;
}

.carousel.vertical .carousel-item-next {
    top: 100%;
}

.carousel.vertical .carousel-item-prev {
    top: -100%;
}

.carousel.vertical .carousel-item-next.carousel-item-left,
.carousel.vertical .carousel-item-prev.carousel-item-right {
    top: 0;
}

.carousel.vertical .active.carousel-item-left {
    top: -100%;
}

.carousel.vertical .active.carousel-item-right {
    top: 100%;
}

.carousel.vertical .carousel-item {
    left: 0;
}
.my-carousel-indicators{
    flex-direction: column;
    align-items: flex-end;
    top:10px;
    width: 100%;
}
.my-carousel-indicators > li::before{
    top: 0px;
}
.dashboard-main-div{
padding: 0 10%;
}
.dashboard-top-panal{
    background: #272e34;
    margin-top: 18px;
    border-top: 2px solid #48484a;
    border-left: 2px solid #48484a;
    border-bottom: 3px solid;
    border-right: 3px solid;
    padding: 20px 45px;
}
.id-bigImage{
    width: 90px;
    height: 85px;
    border: 2px solid #393f45;
}
.id-topName{
    padding: 12px 20px 0;
}
/*.dashboard-icons{
    height: 45px;
    width: 47px;
    text-align: center;
    margin: 0 8px;
}
.icon-jahaz{
    width: 29px;
    margin: 9px 7px 0px 0px;
}
.icon-bell{
    width: 21;
}
.search-icon{
    width: 29px;
    margin: 8px;
}
.massage-icon{
    width: 30px;
    margin: 8px 6px 0 0;
}
.ring-icon{
    width: 23px;
    margin: 6px 0 0;
}*/
.icon-div{
    padding: 23px 0;
}
.dashboard-main-div > h4{
    text-align: center;
    padding: 24px 0 14px;
}
.list-view-left{
    background: #272e34;
    padding: 15px 9px;
}
.list-view-right{
    background: #272e34;
    padding: 25px 63px;
    margin-left: 15px;
}
.dashboard-icons{
    border-radius: 50% !important;
    width: 50px !important;
    height: 50px !important;
}
.search-icon{
    margin: 0 !important;
    font-size: 24px;
}
.id-name{
    padding: 11px 0px 0 20px;
}
.id-name > span,.teacher-name > span {
    font-size: 12px;
}
.school-name-dashboard{
    padding: 24px 0 0;
}
.teacher-name{
    padding: 11px 0 0;
    width: 138px;
}
.list-view-left2{
    background: #fff;
    padding: 15px 9px;
}
.list-view-right2{
    background: #fff;
    padding: 25px 63px;
    margin-left: 15px;
}
.justforpadding{
    padding-bottom: 100px;
}
.search-bar{
    padding: 0px 10% 0 10%;
    height: 55px;
}
.rollno-dashboard{
    padding-top: 12px;
}
.myForm:focus{
    border-color: #000;
    box-shadow: 0 0 0 0;
}
