<app-header></app-header>
<!--<app-my-container>-->
  <!--<div class="mid-contant">-->
    <!--<h2>Logo</h2>-->
    <!--<h1 class="txt-gradiantorange">One App For All Your Parents Communication</h1>-->
    <!--<h4 class="mid-cont txt-fone">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula-->
      <!--eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus-->
      <!--mus.</h4>-->
    <!--<a class="btn btn-primary cont-link txt-darkorange " href="#" role="button">Get Start</a>-->
  <!--</div>-->
<!--</app-my-container>-->
<!--<div class="MyContainer">-->
  <router-outlet></router-outlet>
<!--</div>-->
<app-footer></app-footer>

