<app-my-container [extraClasses]="'background-login'">
  <div class="row messagePanal">
    <div class="col-lg-4 col-md-4 col-sm-4 col-4 contactPanal">
      <div class="messageContactBigImage" align="center">
        <img src="../../../assets/images/id-cards.jpg" alt="">
      </div>
      <div class="messageRollNo text-center my-auto">
        <h1 class="txt-darkgray">42</h1>
      </div>
      <div class="text-center my-auto txt-darkorange">
        <h5 class="messageStu-name">Osama Ahmed</h5>
      </div>
      <div class="text-center my-auto txt-lightorange">
        <h6 class="messageFather-name">Ahmed Ali</h6>
      </div>
      <div class="text-center">
        <button _ngcontent-c3="" class="btn btn-primary input-col myBtn gradiantorange dashboard-icons button-40px"
                type="button"><i _ngcontent-c3="" aria-hidden="true"
                                 class="fa fa-search search-icon search-icon-17px"></i></button>
        <button _ngcontent-c3="" class="btn btn-primary input-col myBtn gradiantorange dashboard-icons" type="button"><i
          _ngcontent-c3="" aria-hidden="true" class="fa fa-cog search-icon"></i></button>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-8 textPanal bg-white">
      <div>
        <div align="center">
          <div class="row textPanalInfo align-self-center">
            <h6>5B</h6>
            <h6>-</h6>
            <h6>Osama Ahmed</h6>
          </div>
        </div>
        <!--<div>
          <!--<div class="text-receive-div col-lg-7 col-md-7 col-sm-7 col-7 word-wrap">
            <p class="">hahsbhcbhsbchabshbcjabscjhbahscbjabscjbajhcbjha</p>
          </div>
          <div>
            <div class="text-send-div col-lg-7 col-md-7 col-sm-7 col-7 word-wrap" align="right">
              <p class="">hahsbhcbhsbchabshbcjabscjhbahscbjabscjbajhcbjhab</p>
            </div>
          </div>
          <div class="text-receive-div col-lg-7 col-md-7 col-sm-7 col-7 word-wrap">
            <p class=""></p>
          </div>
        </div>-->
        <div class="frame">
          <ul></ul>
          <div>
            <div class="msj-rta macro">
              <div class="text text-r" style="background:whitesmoke !important">
                <input class="mytext" placeholder="Type a message"/>
              </div>

            </div>
            <div style="padding:10px;">
              <span class="glyphicon glyphicon-share-alt"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-my-container>

