<nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse navbar-item" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link txt-lightorange" routerLink="/">HOME <span
        class="sr-only">(current)</span></a></li>
      <li class="nav-item tabs"></li>
      <li class="nav-item "><a class="nav-link txt-lightorange" routerLink="/product">PRODUCT</a></li>
      <li class="nav-item tabs"></li>
      <li class="nav-item"><a class="nav-link txt-lightorange" routerLink="/faq">FAQ</a></li>
      <li class="nav-item tabs"></li>
      <li class="nav-item"><a class="nav-link txt-lightorange" routerLink="/contact_us">CONTACT US</a></li>
    </ul>
  </div>
</nav>
