<app-my-container>
  <div class="row about-pro">
    <div class="col-7 about-img">
      <img src="assets/images/12.jpg" alt="">
    </div>
    <div class="col-5 about-cont">
      <h1 class="text-center">About product</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
        into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
        release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
        software like Aldus PageMaker including versions of Lorem Ipsum.<br><br>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
        into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
        release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
        software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      <div class="text-center">
        <button class="btn btn-primary input-col myBtn gradiantorange" type="submit"><i
          class="fas fa-check-circle" routerLink="/login"></i> Sign In
        </button>
      </div>
    </div>
  </div>
</app-my-container>
<div class="fone">
  <div class="container">
    <!-- Nav pills -->
    <ul class="nav nav-pills nav-justified" role="tablist">
      <li class="nav-item">
        <a class="nav-link active txt-gradiantorange info-tabs" data-toggle="pill" href="#home"><img
          class="icon-teacher" src="assets/images/4.png"
          alt="">Teacher</a>
      </li>
      <li class="nav-item">
        <a class="nav-link txt-gradiantorange info-tabs" data-toggle="pill" href="#menu1"><img
          class="icon-parent" src="assets/images/5.png"
          alt="">Parent</a>
      </li>
      <li class="nav-item">
        <a class="nav-link txt-gradiantorange info-tabs" data-toggle="pill" href="#menu2"><img
          class="icon-school" src="assets/images/6.png"
          alt="">School</a>
      </li>
    </ul>
  </div>
</div>
<!-- Tab panes -->
<div class="tab-content">
  <div id="home" class="tab-pane active">
    <div class="row img13">
      <div class="col-6"></div>
      <div class="col-6 teacher-1stpannal">
        <h1>Explore all the</h1>
        <span class="custom-lg-font txt-black">COURSES</span>
        <ul>
          <li>POINT 1</li>
          <li>POINT 2</li>
          <li>POINT 3</li>
        </ul>
      </div>
    </div>
    <div class="row img14">
      <div class="col-6 teacher-2ndpannal">
        <h1>Explore all the</h1>
        <span class="custom-lg-font txt-fone">COURSES</span>
        <ul>
          <li>POINT 1</li>
          <li>POINT 2</li>
          <li>POINT 3</li>
        </ul>
      </div>
    </div>
    <div class="row img15">
      <div class="col-6"></div>
      <div class="col-6 teacher-1stpannal">
        <h1>Explore all the</h1>
        <span class="custom-lg-font txt-black">COURSES</span>
        <ul>
          <li>POINT 1</li>
          <li>POINT 2</li>
          <li>POINT 3</li>
        </ul>
      </div>
    </div>
  </div>
  <div id="menu1" class="tab-pane fade">
    <div class="parent-container">
      <div class="col-5 parent-1stpanal">
        <span class="custom-lg-font txt-fone">CONNECT</span>
        <p class="txt-fone">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
          Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in
          their exact original form, accompanied by English versions from the 1914 translation by H.
          Rackham.<br><br> The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
          Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in
          their exact original form, accompanied by English versions from the 1914 translation by H.
          Rackham.</p>
        <div class="row app-icon">
          <img src="assets/images/8.png" alt="" style=" width: 130px; height: 40px; margin: 0 0;" >
          <img src="assets/images/9.png" alt="" style=" width: 130px; height: 40px; margin: 0 13px 0 22px;">
        </div>
      </div>
    </div>
    <div class="row parent-2stpanal">
      <div class="col-6 fone left-2ndpanal">
        <div id="testCarousel" class="carousel slide vertical" data-ride="carousel">
          <ol class="carousel-indicators my-carousel-indicators">
            <li data-target="#testCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#testCarousel" data-slide-to="1"></li>
            <!--<li data-target="#testCarousel" data-slide-to="2"></li>-->
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <span class="custom-lg-font txt-gradiantorange">CORDINATE</span>
              <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in
                their exact original form, accompanied by English versions from the 1914 translation by H.
                Rackham<br><br>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in
                their exact original form, accompanied by English versions from the 1914 translation by H.
                Rackham</p>
            </div>
            <div class="carousel-item">
              <span class="custom-lg-font txt-gradiantorange">CORDINATE</span>
              <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in
                their exact original form, accompanied by English versions from the 1914 translation by H.
                Rackham<br><br>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in
                their exact original form, accompanied by English versions from the 1914 translation by H.
                Rackham</p>
            </div>
            <!--<div class="carousel-item">
                <img class="d-block img-fluid" src="//placehold.it/2500x750" alt="Third slide">
            </div>-->
          </div>
        </div>
      </div>
      <div class="col-6 gradiantorange right-2ndpanal">
        <h2 class="text-right">How it works</h2>
        <p class="text-right">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
          Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in
          their exact original form, accompanied by English versions from the 1914 translation by H.
          Rackham</p>
        <img src="assets/images/1.jpg" width="500px" alt="">
      </div>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner carousel-background">
        <div class="carousel-item text-center active">
          <div class="carousel-txt text-center">
            <h1 class="custom-lg-font txt-fone">TESTIMONAL</h1>
            <p class="txt-fone">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley </p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-txt text-center">
            <h1 class="custom-lg-font txt-fone">TESTIMONAL</h1>
            <p class="txt-fone">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley </p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-txt text-center">
            <h1 class="custom-lg-font txt-fone">TESTIMONAL</h1>
            <p class="txt-fone">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley </p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <!--<span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>-->
        hahaahha
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <!--<span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>-->
      </a>
    </div>
  </div>
  <div id="menu2" class="container tab-pane fade"><br>
  </div>
</div>
