<app-my-container [extraClasses]="'background-login justforpadding'">
  <div class="input-group mb-3 search-bar">
    <input type="text" class="form-control myForm" placeholder="Recipient's username" aria-label="Recipient's username"
           aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button"><i class="fa fa-search fa-2x" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="dashboard-main-div">
    <div class="row dashboard-top-panal">
      <div class="row col-lg-8 col-md-7 col-sm-6 dashboard-panal-aline">
        <img src="assets/images/id-cards.jpg" class="rounded-circle id-bigImage align-self-center" alt="identity Image">
        <div class="id-topName txt-white my-auto">
          <div class="row">
            <h4>Name :</h4>
            <h4> Osama Ahmed </h4>
          </div>
          <div class="row">
            <h4>Class :</h4>
            <h4> 5B</h4>
          </div>
        </div>
      </div>
      <div class="row float-right icon-div col-lg-4 col-md-5 col-sm-6 ">
        <div class="butn-div align-self-center" align="right">
          <button class="btn btn-primary input-col myBtn gradiantorange dashboard-icons" type="button"><i
            class="fa fa-search search-icon" aria-hidden="true"></i></button>
          <button class="btn btn-primary input-col myBtn gradiantorange dashboard-icons" type="button"><i
            class="fa fa-paper-plane search-icon" aria-hidden="true"></i></button>
          <button class="btn btn-primary input-col myBtn gradiantorange dashboard-icons" type="button"><i
            class="fa fa-bell search-icon" aria-hidden="true"></i></button>
          <button class="btn btn-primary input-col myBtn gradiantorange dashboard-icons" type="button"><i
            class="fa fa-cog search-icon" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
    <h4 class="txt-fone">My Student</h4>
    <div>
      <div class="row">
        <div class="row col-9 col-lg-9 col-md-9 col-sm-9 list-view-left list-view-resp">
          <div class="row col-6 col-lg-6 col-md-6 col-sm-6">
            <div class="id-sml-img col-3 col-lg-3 col-sm-3 col-md-3 col-sm-3 align-self-center">
              <img src="assets/images/id-cards.jpg" class="rounded-circle idsmallimage" alt="">
            </div>
            <div class="col-9 col-lg-9 col-md-9 col-sm-9 my-auto">
              <h6 class="txt-gradiantorange font-10px">Osama Ahmed Ahmed Ahmed</h6>
              <h6 class="txt-lightgray font-8px">
                This is Last Send Massage
              </h6>
            </div>
          </div>
          <div class="col-3 col-lg-3 col-md-3 col-sm-3 text-center my-auto">
            <h1 class="txt-fone">42</h1>
          </div>
          <div class="text-right col-3 col-lg-3 col-md-3 col-sm-3 my-auto">
            <h6 class="txt-gradiantorange font-10px">Mirza Wajahat Baig</h6>
            <h6 class="txt-lightgray font-8px">08:07</h6>
          </div>
        </div>
        <div class="list-view-right text-center">
          <div class="align-self-center">
            <button class="btn btn-primary input-col myBtn gradiantorange dashboard-icons button-40px" type="button"><i
              class="fa fa-search search-icon search-icon-17px" aria-hidden="true"></i></button>
            <button class="btn btn-primary input-col myBtn gradiantorange dashboard-icons button-40px" type="button"><i
              class="fa fa-paper-plane search-icon search-icon-17px" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="row col-9 col-9 col-lg-9 col-md-9 col-sm-9 list-view-left2 list-view-resp">
          <div class="row col-6 col-lg-6 col-md-6 col-sm-6">
            <div class="id-sml-img col-3 col-lg-3 col-md-3 col-sm-3 align-self-center">
              <img src="assets/images/id-cards.jpg" class="rounded-circle idsmallimage" alt="">
            </div>
            <div class="col-9 col-lg-9 col-md-9 col-sm-9 my-auto">
              <h6 class="txt-gradiantorange font-10px">Osama Ahmed Amed Ahmed</h6>
              <h6 class="txt-lightgray font-8px">
                This is Last Send Massage
              </h6>
            </div>
          </div>
          <div class="col-3 col-lg-3 col-md-3 col-sm-3 text-center my-auto">
            <h1 class="txt-darkgray">42</h1>
          </div>
          <div class="text-right col-3 col-lg-3 col-md-3 col-sm-3 my-auto">
            <h6 class="txt-gradiantorange font-10px">Mirza Wajahat Baig</h6>
            <h6 class="txt-lightgray font-8px">08:07</h6>
          </div>
        </div>
        <div class="list-view-right2 text-center">
          <div class="align-self-center">
            <button class="btn btn-primary input-col myBtn gradiantorange dashboard-icons button-40px" type="button"><i
              class="fa fa-search search-icon search-icon-17px" aria-hidden="true"></i></button>
            <button class="btn btn-primary input-col myBtn gradiantorange dashboard-icons button-40px" type="button"><i
              class="fa fa-paper-plane search-icon search-icon-17px" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-my-container>


