<app-my-container [isHomePage]="true">
  <div class="mid-contant">
    <h2>Logo</h2>
    <h1 class="txt-gradiantorange about-app-main">One App For All Your Parents Communication</h1>
    <h4 class="mid-cont txt-fone as-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
      eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
      mus.</h4>
    <a class="btn btn-primary cont-link txt-darkorange sml-btn" href="#" role="button">Get Start</a>
  </div>
</app-my-container>
<div class="row count-div">
  <div class="col-lg-6 col-md-12">
    <h1 class="Achiv txt-darkorange">ACHIVEMENTS</h1>
    <h4 class="txt-darkgray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
      dolor. Aenean massa.Aenean commodo ligula eget dolor. Aenean massa</h4>
    <img src="/assets/images/2.png" class="img-scl img-fluid" alt="iamge" width="370px" height="auto">
  </div>
  <div class="col-lg-6 col-md-12 sm-round">
    <div class="row gol-div1">
      <div class="rounded-circle round-outter">
        <div class="rounded-circle babban-gol">
          <span class="fa fa-adjust txt-darkorange" style="font-size: 40px"></span>
          <h5 class="txt-darkgray">Students</h5>
          <h5 class="txt-darkorange">600+</h5>
        </div>
      </div>
      <div class="rounded-circle round-outter">
        <div class="rounded-circle babban-gol">
          <span class="fa fa-adjust txt-darkorange" style="font-size: 40px"></span>
          <h5 class="txt-darkgray">Students</h5>
          <h5 class="txt-darkorange">600+</h5>
        </div>
      </div>
    </div>
    <div class="row gol-div2">
      <div class="rounded-circle round-outter">
        <div class="rounded-circle babban-gol">
          <span class="fa fa-adjust txt-darkorange" style="font-size: 40px"></span>
          <h5 class="txt-darkgray">Students</h5>
          <h5 class="txt-darkorange">600+</h5>
        </div>
      </div>
      <div class="rounded-circle round-outter">
        <div class="rounded-circle babban-gol">
          <span class="fa fa-adjust txt-darkorange" style="font-size: 40px"></span>
          <h5 class="txt-darkgray">Students</h5>
          <h5 class="txt-darkorange">600+</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row app-div d-flex align-items-center h-100">
  <div class="col-4 text-center">
    <h3 class="txt-fone Services">Enjoy Our Enhanced Service</h3>
    <div class="text-center">
      <h4 class="txt-darkorange Service-tag">Communication</h4>
      <h4 class="txt-darkorange Service-tag">Connect</h4>
      <h4 class="txt-darkorange Service-tag">Cordinate</h4>
    </div>
  </div>
  <div class="col-4">
    <img src="/assets/images/7.png" class="img-fluid" alt="Application Screen" >
  </div>
  <div class="col-4 text-center">
    <h1 class="txt-fone Services">Logo</h1>
    <h4 class="txt-darkorange download-tag">Download Our Free App</h4>
    <div class="row">
      <img src="/assets/images/8.png" class="img-fluid col-md-6 col-sm-12 download-app-img"  alt="" style=" width: 100%;">
      <img src="/assets/images/9.png" class="img-fluid col-md-6 col-sm-12 download-app-img" alt="" style=" width: 100%;">
    </div>
  </div>
</div>
<div class="row security-div">
  <div class="col-4 text-right">
    <img src="/assets/images/10.png" class="img-fluid" alt="" >
  </div>
  <div class="col-8">
    <h2 class="pvt-sec">PRIVATE <span class="txt-white">AND</span> SECURE</h2>
    <h4 class="txt-white pvt-sec-cont">Share with <span class="txt-black">confidence</span>, knowing everting on this portal is
      <span class="txt-black">protective</span> by strict <span class="txt-black">secuity</span> measure.</h4>
  </div>
</div>
<div class="newletter-div text-center">
  <h1 class="txt-fone ston">SUBSCRIBE TO OUR NEWSLETTER</h1>
  <div class="row">
    <div class="input-group input-group-lg input-box">
      <input type="text" class="form-control input-col subcribe-btn" placeholder="Recipient's username" aria-label="Large"
             aria-describedby="inputGroup-sizing-sm">
      <input type="text" class="form-control input-col subcribe-btn" placeholder="Recipient's username" aria-label="Large"
             aria-describedby="inputGroup-sizing-sm">
      <button class="btn btn-primary input-col myBtn gradiantorange" type="submit"> Subscribe</button>
    </div>
  </div>
</div>

